<h1>{{project.name}}</h1>
<small>{{project.id}}</small>
<small>{{project.data.totalStoryPoints}}</small>

<h2>Stories for {{project.name}}</h2>
{{line-graph x-data=project.data.iterationDays y-data=project.data.burndown}}
{{#if project.stories}}
  <section class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Estimate</th>
          <th>Accepted at</th>
          <th>Created at</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        {{#each story in project.stories}}
        <tr>
          <td>{{story.id}}</td>
          <td>{{story.name}}</td>
          <td>{{story.storyType}}</td>
          <td>{{story.estimate}}</td>
          <td>{{story.acceptedAt}}</td>
          <td>{{story.updatedAt}}</td>
          <td>{{story.createdAt}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
{{else}}
  <p>No stories were found</p>
{{/if}}
